<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <!-- TODO  check if works as an include -->

  <material name="C1_black">
    <color rgba="0 0 0 0.4"/>
  </material>


  <!-- Empty first link "world" -->
  <link name="world" />

  <!-- Base_link -->
  <link name="base_link" />

  <!-- Footprint_link -->
  <link name="footprint_link" />

  <!-- A simple fixed joint from our empty world link, to our base. -->
  <!-- The base origin is not offset from the world origin. -->
  <joint name="world_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <joint name="footprint_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="footprint_link"/>
  </joint>


  <!-- Macro's -->
  <xacro:include filename="$(find d2rbot_description)/urdf/default_inertial.urdf.xacro"/>

  <!-- C1 lidar macro -->
  <xacro:macro name="C1-lidar" params="prefix parent">

    <!-- Properties C1       -->
    <!-- Box                 -->
    <!--   length   : 0,0550 -->
    <!--   width    : 0,0550 -->
    <!--   height   : 0,0253 -->
    <!-- Cylinder         -->
    <!--   diameter : 0.0520 -->
    <!--   height   : 0,0182 -->
    <!-- Mass : 0.096        -->

    <link name="${prefix}_link">

      <visual>
        <geometry>
          <box size="0.0550 0.0550 0.0253"/>
        </geometry>
        <origin xyz="0.0 0.0 ${0.0253/2}" rpy="0.0 0.0 0.0"/>
        <material name="C1_black"/>
      </visual>
      <visual>
        <origin xyz="0 0 ${0.0253 + (0.0182/2)}" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.0182" radius="${0.0520/2}"/>
        </geometry>
        <material name="C1_black"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.0550 0.0550 ${0.0253 + 0.0182}"/>
        </geometry>
      </collision>
      <xacro:default_box_inertial mass="0.096" />
    </link>
    <joint name="${parent}_to_${prefix}_joint" type="fixed">
      <parent link="${parent}_link"/>
      <child link="${prefix}_link"/>
      <origin xyz="0.0 0.0 0.0"/>
    </joint>

  </xacro:macro>

  <!-- Start of the actual C1 lidar -->
  <xacro:C1-lidar prefix="unique" parent="base"/>

</robot>
